@use "../../styles/theme/colors";
@use "../../styles/theme/_font";

.Card,
.card {
  background-color: colors.$card_bg_color;
  transition: transform 0.3s, color 0.5s;
  color: colors.$text_color_W;
  font-family: font.$default_font_fam;
  line-height: 30px;
  align-content: space-around;
  margin-bottom: 23px;

  &:hover {
    transform: scale(1.01);
  }

  h1 {
    font-size: 25px;
  }

  h1,
  p {
    font: 25px;
    padding: 23px;
    &:where(:hover, :focus-visible) {
      text-decoration: underline;
      text-decoration-color: colors.$color_underline;
    }
  }

  img {
    // max-width: 100%;
    // max-height: 100%;
    // vertical-align: middle;
    // display: inline-block;
    width: 100%;
    height: 200px;
  }

  section {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
    padding-bottom: 16px;
  }
}
.fadeup {
  animation: fadeup 1s linear forwards;
}
@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}
