@use "../../styles/theme/colors";
@use "../../styles/theme/_font";

@mixin content($top, $left, $bottom, $right) {
  position: absolute;
  color: colors.$text_color_W;
  background-color: #b08ead;
  opacity: 0.7;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.left {
  position: relative;
  width: 100%;
  height: 500px;
  background: #d6bbd3;
  background-repeat: no-repeat;
  .content {
    @include content(55%, 10%, auto, auto);
  }
  img {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 50%;
    height: 60%;
  }
}

.right {
  background-image: linear-gradient(#c9adc6 50%, #d6bbd3 50%);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 500px;

  img {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 50%;
    height: 60%;
  }

  .content {
    @include content(40%, auto, auto, 10%);
  }
}
