@use "../../styles/theme/mixins";

.button {
  @include mixins.button;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center;

}

.link {
  font-weight: bold;
  font-style: italic;
}
