$card_bg_color: #ceb3cb;
$text_color_W: white;
$text_color_P: #b99bb6;
$border_color_P: #b99bb6;
$border_color_W: white;
$color_underline: #d6bbd3;

.root {
  --swatch_b9e93dd4: white;
  --swatch_e67166a5: black;
  --swatch_ec985d84: #ba9fb7;
  --swatch_7133a43a: #d6bbd3;
  --swatch_0ada4814: #b99bb6;
  --swatch_fee90fe9: #ceb3cb;
  --swatch_399a6b5e: #c9adc6;
  --swatch_f764d9fc: #5f4d5d;
  --swatch_d7410237: #d7b7d4;
  --swatch_5d307f46: #b0b0b0;
  --swatch_151c26c4: #e6e6e6;
  --swatch_51e86ca3: #b08ead;
  --swatch_8a1c7e8c: #a78ba4;
}
